/* Import all stylesheets */
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/navbar.css';
@import './styles/products.css';
@import './styles/product-detail.css';
@import './styles/login.css';
@import './styles/admin-dashboard.css';
